{% extends 'base.twig' %}

{% block content %}
    <section class="uk-container uk-container-large">
        <div class="uk-margin-medium-top uk-inline">
            <button class="uk-button uk-button-default" type="button">Werknemers <span uk-icon="arrow-down"></span></button>
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    {% for employee in data.employees %}
                        <li><a href="{{ ROOT }}/Registratie/{{ employee.Id }}">{{ employee.Username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <button id="result-button" class="uk-button uk-button-secondary">
                Submit
            </button>
        </div>
            <table id="table" class="uk-table">
                <thead>
                <tr>
                    <th class="uk-table-shrink">#</th>
                    {% for day in data.days %}
                        <th class="uk-width-1-5">
                            {{ day }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for time in data.times %}
                    <tr>
                        <td>{{ time }}</td>
                        {% for day in data.days %}
                            <td class="drawable"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>

{% endblock %}

{% block script %}
    <script>
        let activated_color = 'rgb(204, 23, 15)';
        let base_color = 'rgb(255,255,255)';

        let drawables = $('.drawable');

        // on window load
        let tdCells = [];

        drawables.each(function () {
            tdCells.push($(this));
        });

        {% for value in data.schedule %}
            {% if value == '1' %}
                tdCells[{{ loop.index0 }}].css('background-color', activated_color);
            {% endif %}
        {% endfor %}

        drawables.on('click', function () {
            if ($(this).css('background-color') === activated_color) {
                $(this).css('background-color', base_color)
            } else {
                $(this).css('background-color', activated_color)
            }
        });

        $('#result-button').on('click', function () {
            let temp = [];
            $('#table tbody tr td').each(function () {
                if ($(this).hasClass('drawable')) {
                    temp.push($(this).css('background-color') === activated_color ? 1 : 0);
                }
            });

            let dataString = 'submitData=' + temp.toString();

            $.ajax({
                type: 'GET',
                url: window.location.href,
                data: dataString,
                success: function (data) {
                    if (data === 'true') {
                        location.reload();
                    }
                }
            })
        });
    </script>
{% endblock %}